@import url(https://fonts.googleapis.com/css?family=Lato:400,700);


$green: #4caf50;
$blue: #4a81b3;;
$orange: #E38968;
$gray: #92959E;

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #C5DDEB;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: black;
}

.container {
  margin: 0 auto;
  width: 100%;
  background: #444753;
  border-radius: 5px;
  padding:0;
}
.ai_margin{margin-top:20px;}
.ai_margin_10{margin-top:10px;}
.ai_textbox{
padding: 10px;
border-radius: 50px;
color: #000;
height: 60px;
box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.15);
}
.ai_send{
border-radius: 50% !important;
padding: 15px 20px;
font-size: 22px !important;
background: linear-gradient(to top, #1b3065 0%, #3456ae 100%);
background-color: rgba(0, 0, 0, 0);
box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.35);
}
.ai_send:hover {box-shadow: 0px 0px 10px 3px #ccc;}
.ai_mike {
  border-radius: 50% !important;
  padding: 15px 20px;
  font-size: 22px !important;
  background: linear-gradient(to top, #868686 0%, #d4d4d4 100%) !important;
      background-color: rgba(0, 0, 0, 0);
  background-color: transparent;
  box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.35);
}
.chat {
  width: 100%;
  float:left;
  background: #ffffff;
  border-radius: 4px;
  color: #434651;

  .chat-header {
    padding: 10px 15px 0px;
    border-bottom: 2px solid white;

    img {
      float: left;
      border-radius: 50%;
      height: 60px;
    }

    .chat-about {
      float: left;
      padding-left: 10px;
      margin-top: 6px;
    }

    .chat-with {
      font-weight: bold;
      font-size: 14px;
    }

    .chat-num-messages {
      color: $gray;
    }
    .chat-num-messages i{
      color: #cf1628;
      padding-right: 10px;
      font-size: 25px;
    }

    .fa-star {
      float: right;
      color: #D8DADF;
      font-size: 20px;
      margin-top: 12px;
    }
  }

  .chat-history {
    padding: 15px 30px 15px;
border-bottom: 2px solid white;
height: 500px;
overflow-y:scroll;
background: #d9ecfd;
border-radius: 5px;
margin: 10px;

    .message-data {
      margin-bottom: 15px;
    }
	li{list-style:none;}

    .message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
    }

    .message {
      color: white;
padding: 15px 15px;
line-height: 10px;
font-size: 14px;
border-radius: 7px;
margin-bottom: 5px;
width: 50%;
position: relative;

      &:after {
        bottom: 100%;
        left: 7%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $green;
        border-width: 10px;
        margin-left: -10px;
      }
    }
    .message i{color: #ffffff; font-size: 25px;}
    .my-message {
      background: $green;
      box-shadow: 1.5px 2.6px 24px 0 #4caf50;
    }

    .message i.fa-thumbs-up{color: #fff;}
    .message i.fa-thumbs-down{color: #fff;}

    .other-message {
      background: $blue;
      box-shadow: 1.5px 2.6px 24px 0 rgb(74, 129, 179);
      &:after {
        border-bottom-color: $blue;
        left: 93%;
      }
    }

  }

  .chat-message {
    padding: 30px;

    textarea {
      width: 100%;
      border: none;
      padding: 10px 20px;
      font: 14px/22px "Lato", Arial, sans-serif;
      margin-bottom: 10px;
      border-radius: 5px;
      resize: none;

    }

    .fa-file-o, .fa-file-image-o {
      font-size: 16px;
      color: gray;
      cursor: pointer;

    }

    button {
      float: right;
      color: $blue;
      font-size: 16px;
      text-transform: uppercase;
      border: none;
      cursor: pointer;
      font-weight: bold;
      background: #F2F5F8;

      &:hover {
        color: darken($blue, 7%);
      }
    }
  }
}

.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }

.online {
  color: $green;
}

.offline {
  color: $orange;
}

.me {
  color: $blue;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.ps {
    overflow: hidden !important;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}
#valueId{
  line-height: 20px;
}

.faourites{
  cursor: pointer;
}

/*========pulse========*/
.pulse {
	animation-name: pulse_animation;
	animation-duration: 5000ms;
	transform-origin:70% 70%;
	animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes pulse_animation {
	0% { transform: scale(1); }
	30% { transform: scale(1); }
	40% { transform: scale(1.08); }
	50% { transform: scale(1); }
	60% { transform: scale(1); }
	70% { transform: scale(1.05); }
	80% { transform: scale(1); }
	100% { transform: scale(1); }
}
.shadow
{  text-shadow:     0 1px 0 hsl(174,5%,80%),
  0 2px 0 hsl(174,5%,75%),
  0 3px 0 hsl(174,5%,70%),
  0 4px 0 hsl(174,5%,66%),
  0 5px 0 hsl(174,5%,64%),
  0 6px 0 hsl(174,5%,62%),
  0 7px 0 hsl(174,5%,61%),
  0 8px 0 hsl(174,5%,60%),

  0 0 5px rgba(0,0,0,.05),
 0 1px 3px rgba(0,0,0,.2),
 0 3px 5px rgba(0,0,0,.2),
0 5px 10px rgba(0,0,0,.2),
0 10px 10px rgba(0,0,0,.2),
0 20px 20px rgba(0,0,0,.3);
}
.shadow_1
{ text-shadow: 1px 1px 3px rgba(0,0,0,0.5);}

/*==============
Button animation
==============*/
.sim-button{
	line-height: 50px;
	height: 50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	margin-top: 1px;
	width: 100%;
  cursor: pointer;
  padding: 0px 20px;
}

.button27 {
	color: rgba(27, 48, 101,1);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgb(27, 48, 101);
  overflow: hidden;
  border-radius: 30px;
  background-color: #ffffff;
}
.button27:hover{
  border: 1px solid rgba(255,255,255,0);
  background: #f1f1f1;
  box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.35);
}
.button27 a{
	color: rgba(51,51,51,1);
	text-decoration: none;
	display: block;
}
.button27::before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	z-index: 1;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate(-100%, -600%) rotate(30deg);
	transform: translate(-100%, -600%)  rotate(30deg);
	background-color: rgba(27, 48, 101,1);
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);

}
.button27:hover::before{
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
/*===============
chatbox amination
===============*/
@-webkit-keyframes fadeDistortion {

      0%{
          opacity: 0;
          -webkit-transform: skewX(-8deg) skewY(-8deg);
          transform: skewX(-8deg) skewY(-8deg);
      }

      25% {
          -webkit-transform: skewX(6deg) skewY(6deg);
          transform: skewX(6deg) skewY(6deg);
      }

      50% {
          -webkit-transform: skewX(-4deg) skewY(-4deg);
          transform: skewX(-4deg) skewY(-4deg);
      }

      75% {
          -webkit-transform: skewX(2deg) skewY(2deg);
          transform: skewX(2deg) skewY(2deg);
      }

      100%{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }

  @keyframes fadeDistortion {

      0%{
          opacity: 0;
          -webkit-transform: skewX(-8deg) skewY(-8deg);
          transform: skewX(-8deg) skewY(-8deg);
      }

      25% {
          -webkit-transform: skewX(6deg) skewY(6deg);
          transform: skewX(6deg) skewY(6deg);
      }

      50% {
          -webkit-transform: skewX(-4deg) skewY(-4deg);
          transform: skewX(-4deg) skewY(-4deg);
      }

      75% {
          -webkit-transform: skewX(2deg) skewY(2deg);
          transform: skewX(2deg) skewY(2deg);
      }

      100%{
          opacity: 1;
          -webkit-transform: none;
          transform: none;
      }
  }

  .fadeDistortion {
      -webkit-animation-duration: 1s;
      animation-duration: 1s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both;
      -webkit-transform-origin: center;
      transform-origin: center;
      -webkit-animation-name: fadeDistortion;
      animation-name: fadeDistortion;
  }

  /*============
  Zoom animation
  ============*/
  @-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.8, .8, .8);
        transform: scale3d(.8, .8, .8);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.8, .8, .8);
        transform: scale3d(.8, .8, .8);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.zoomIn {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}


@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.8, .8, .8);
        transform: scale3d(.8, .8, .8);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
/*=============
Fade left
=============*/
@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-20%, 0, 0);
        transform: translate3d(-20%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
}

/*==================================================
 * Effect 7
 * ===============================================*/
 .effect1
 {
     position:relative;
     -webkit-box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.15);
        -moz-box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.15);
             box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.15);
 }
 .effect1:before, .effect1:after
 {
     content:"";
     position:absolute;
     z-index:-1;
     -webkit-box-shadow:0 0 20px rgba(111,111,111,0.8);
     -moz-box-shadow:0 0 20px rgba(111,111,111,0.8);
     box-shadow:0 0 20px rgba(111,111,111,0.8);
     top:0;
     bottom:0;
     -moz-border-radius:100px ;
     border-radius:100px;
 }



 .report_link{
  color:#fff !important;

}


.fav_clr{
  color: #cf1628 !important;
  font-size: 25px !important;
}

.react_clr{
  color: #cf1616 !important;
  font-size: 25px !important;
}
.like_btn_color{background-color: #4caf50;}
.like_btn{
  box-shadow: none !important;
  background-color: transparent !important;
  padding: 0px;

}
.animate-heart{
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
  animation-duration: 0.65s;
  color : #cf1628 !important;
  z-index: 999;
}
.animate-like {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
  animation-duration: 0.65s;
  color : #333 !important;
  z-index: 999;
}

.animate-unlike {
	animation-name: likeAnimation;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
  animation-duration: 0.65s;
  color : #333 !important;
  z-index: 999;
}

@keyframes likeAnimation {
  0%   { transform: scale(30); }
  100% { transform: scale(1); }
}

 .btn-secondary:hover {
  transform: translateY(-3px);
}
 .btn-secondary {
  display: block;
  background: #4caf50 !important;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(76, 175, 80);
  // padding: 10px 17px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  float: left;
  margin-right: 5px;

}

.btn-primary:hover {
  transform: translateY(-3px);
}
 .btn-primary {
  display: block;
  background: #ed2553 !important;
  border-radius: 3px;
  box-shadow: 0 10px 20px -8px rgb(240, 75, 113);
  // padding: 10px 17px;
  padding: 5px 10px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;

}

.btn:not(.btn-link):not(.btn-circle) i {
  color: #fff;
}

.list-group-item {
  background: #33628e !important;
}
