

<section class="content zoomIn">
    <div class="container clearfix">   
      <div class="chat effect1">
        <div class="chat-header clearfix">
          <img src="../../assets/images/user.png" alt="avatar" />
          
          <div class="chat-about">
            <div class="chat-with">{{_globalSettings.username}}</div>
            <div class="chat-num-messages">
                    <button (click)="showDialog = !showDialog" class="sim-button button27"><i class="fa fa-heart favt_icon pulse shadow" aria-hidden="true"></i>Favorite</button>     
                    <!--<div class="sim-button button27"><span><i class="fa fa-heart favt_icon pulse shadow" aria-hidden="true"></i>Favorite</span></div>-->
            </div>
          </div>
        </div> <!-- end chat-header -->
        
        <div class="slimScrollDiv chat-history" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
          
         
            <ul>
            <li class="clearfix" *ngFor="let row of chatLists">
              <div *ngIf="row.user">
              <div class="message-data align-right">
                <span class="message-data-time" >{{row.created_at | timeAgo}}</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{_globalSettings.username}}</span> <i class="fa fa-circle me"></i>
              
              </div>
              <div class="message my-message fadeInLeft">
                <p id="valueId" [innerHTML]="row.value"></p>
                <span><i class="fa fa-heart favt_icon pulse shadow_1" aria-hidden="true"></i></span>
              </div>
            </div>
            <div *ngIf="row.machine">
                <div class="message-data align-right">
                  <span class="message-data-time" >{{row.created_at | timeAgo}}</span> &nbsp; &nbsp;
                  <span class="message-data-name" >HR</span> <i class="fa fa-circle me"></i>
                </div>
                <div class="message other-message float-right">
                    <p id="valueId" [innerHTML]="row.value"></p>
                </div>
              </div>
            </li>
           
            
          </ul>
          
        </div> <!-- end chat-history -->
              
        <form class="ai_margin">
        <div class="col-lg-10">
          <div class="form-group">
            <input type="text" class="form-control ai_textbox" name="searchreq" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Text" [(ngModel)]="searchreq" (keyup.enter)="searchBot()" autofocus>        
          </div>
          </div>
          <div class="col-lg-2">
          <div class="form-group">
          <button type="button" class="btn btn-primary ai_send"><i class="material-icons"  (click)="searchBot()">&#xE163;</i></button>
          </div>
          </div>
        </form>
         <!-- end chat-message -->
        
      </div> <!-- end chat -->
      
    </div> <!-- end container -->

  </section>

  
  <app-dialog [(visible)]="showDialog">
        <header class="dialog-title">
            <h4>Favorite Messages</h4>
        </header>
       <div class="favt_p">
            <p><i class="fa fa-heart favt_icon" aria-hidden="true"></i> How many days do we work in a week</p>
            <p><i class="fa fa-heart favt_icon" aria-hidden="true"></i> How many days do we work in a week</p>
       </div>
        <div class="dialog-footer">  
            <button (click)="showDialog = !showDialog" class="btn">Close</button>
        </div>  
        </app-dialog>
      

<!--   

<div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-offset-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-comment"></span> Chats
                       
                    </div>
                    <div class="panel-body" style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                        <ul class="chat" >

                <li class="right clearfix" *ngFor="let row of chatLists">
                        <div *ngIf="row.user"><span class="chat-img pull-right">
                        <img src="http://placehold.it/50/FA6F57/fff&text={{userImg}}" alt="User Avatar" class="img-circle" />
                    </span>
                        <div class="chat-body clearfix">
                            <div class="header">
                                <small class=" text-muted">
                                <span class="glyphicon glyphicon-time"></span>{{row.created_at | timeAgo}}</small>
                                
                                <strong class="pull-right primary-font">{{_globalSettings.username}}</strong>
                            </div>
                            <p id="valueId" [innerHTML]="row.value"></p>
                        </div>
                        </div>
                      
                    <div *ngIf="row.machine"><span class="chat-img pull-left">
                    <img src="http://placehold.it/50/55C1E7/fff&text={{machineImg}}" alt="User Avatar" class="img-circle" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">Machine</strong>
                            <small class=" text-muted">
                                    <span class="glyphicon glyphicon-time"></span>{{row.created_at | timeAgo}}</small>
                        </div>
                        <p id="valueId" [innerHTML]="row.value"></p>
                    </div>
                    </div>
                </li>
                

                            
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="btn-input" type="text" class="form-control input-sm" placeholder="Type your message here..." [(ngModel)]="searchreq"  />
                            <span class="input-group-btn">
                                <button class="btn btn-warning btn-sm" id="btn-chat" (click)="searchBot()">
                                    Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     -->