.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* .chat-history {
    height: calc(100% - 44px);
    overflow-y: auto;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
} */
.scrollbar
{
	margin-left: 30px;
	float: left;
	height: 300px;
	width: 65px;
	background: #F5F5F5;
	overflow-y: scroll;
	margin-bottom: 25px;
}

.force-overflow
{
	min-height: 450px;
}
/*
 *  STYLE 6
 */


.dialog-title h4{font-size: 16px !important;}
.dialog-title  p{font-size: 16px;}

.faourites{
    cursor: pointer;
}

.report_link{
    color:#fff !important;
}
.favt_p{
    min-height: 300px;
    overflow-y: scroll;
}






 #style-6::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
     background-color: #F5F5F5;
 }
 
 #style-6::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 #style-6::-webkit-scrollbar-thumb
 {
     background-color: #F90;	
     background-image: -webkit-linear-gradient(45deg,
                                               rgba(255, 255, 255, .2) 25%,
                                               transparent 25%,
                                               transparent 50%,
                                               rgba(255, 255, 255, .2) 50%,
                                               rgba(255, 255, 255, .2) 75%,
                                               transparent 75%,
                                               transparent)
 }
 

