body {
    background-color: rgba(217, 236, 253, 1);
    font: 14px/20px "Lato", Arial, sans-serif;
    padding: 40px 0;
    color: black;
  }
.breadcrumb {
    padding: 8px 15px !important;
    margin: 25px 0 0 20px !important;
    background-color: #ffffff !important;
    border-radius: 0 !important;
}
.breadcrumb > li {
    color: #666 !important;
    font-size: 16px !important;
    vertical-align: middle !important;
}
.breadcrumb > .breadcrumb-item > a {
    color: #ffe001;
}
li.breadcrumb-item i.fa.fa-angle-right {
    font-size: 25px;
    padding: 0 8px;
    color: #000;
    vertical-align: middle;
}
.grid-about {
    background: #fff;
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    margin: 25px 0 0 20px !important;
}
.grid-about p{color: #999;}
.grid-about .section-title {
    font-family: ralewaybold, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-style: normal;
    text-transform: uppercase;
    color: #252525;
}
.grid-about .section-title-btm {
    
        background-color: #ffe001;
        height: 3px;
        width: 100px;
        margin-bottom: 20px;
    
    }
    /*==================================================
 * Effect
 * ===============================================*/
 .effect1
 {
     position:relative;
     -webkit-box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.15);
        -moz-box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.15);
             box-shadow: 1.5px 2.6px 24px 0 rgba(0, 35, 136, 0.15);
 }
 .effect1:before, .effect1:after
 {
     content:"";
     position:absolute;
     z-index:-1;
     -webkit-box-shadow:0 0 20px rgba(111,111,111,0.8);
     -moz-box-shadow:0 0 20px rgba(111,111,111,0.8);
     box-shadow:0 0 20px rgba(111,111,111,0.8);
     top:0;
     bottom:0;
     -moz-border-radius:100px ;
     border-radius:100px;
 }
 .txt_boby{
    float:left;
    background: #ffffff;
    border-radius: 4px;  
    color: #434651;
}
@media (min-width: 768px) and (max-width: 991px) {
    .section.content-1 {
        margin: 69px 0px 0 0px !important;
    }}