<app-navbar></app-navbar>
<app-sidebar></app-sidebar>
<section class="content-1 zoomIn">
    <div class="container-fluid">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a><i class="fa fa-angle-right"></i>About US</li>
        </ol>
        <div class="grid-about effect1 txt_boby">
            <h2 class="section-title"><span>About AIANR</span></h2>
            <div class="section-title-btm"></div>
            <p>I am AIANR Chatbot, an AI-driven Virtual Assistant. I can help you with queries related to Human Resource Management 
                You can type in your queries or you can select the questions from the left side categorized question Menu Bar. From categorized Menu bar you can get the queries in which I am trained to deal with</p>
            <p>I am available 24/7 to help you.I am here to reduce the communication gap between HR team and employees.You may spend many hours each month searching for basic company-related information. AIANR Chatbot would quickly get you the answers you are looking for, my aim is to make you more productive and ultimately more satisfied.</p>
        </div>
    </div>
    
</section>
