<nav class="navbar">
  <div class="">
    <div class="navbar-header ai_logo">
      <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
      <a href="javascript:void(0);" class="bars"></a>
      <a class="navbar-brand">AIANR</a>
      <!-- <img src="../../assets/images/AIANR_Logo.jpg" alt="User" /> -->

    </div>
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <!-- Call Search -->
        <li>
          <a class="js-search" data-close="true" routerLink="/landing">
            <i class="material-icons">chat_bubble</i>
          </a>
        </li>
        <li>
          <a class="js-search" data-close="true" routerLink="/favourite">
            <i class="material-icons">favorite</i>
          </a>
        </li>
        <li>
            <a class="js-search" data-close="true" routerLink="/task">
              <i class="material-icons">assignment</i>
            </a>
          </li>

        <!-- #END# Call Search -->
        <!-- Notifications -->
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="material-icons">assignment</i>

          </a>
          <ul class="dropdown-menu task" (click)="$event.stopPropagation()">

            <li class="header">Task</li>
            <li class="body">

              <div class="panel panel-default">
                <div class="panel-body">
                    <form (ngSubmit)="submitTask(form,$event)" #form="ngForm" novalidate >  

                        <div class="form-group">
                            
                             <select name="report_id" class="form-control input-sm" [(ngModel)] = "model.report_id" #report_id="ngModel"  (change)="changeReport($event)" required>
                                <option value="" > Select Option </option>
                                <option *ngFor="let row of reportLists" [ngValue]="row.id">
                                    {{row.name}}
                                </option>
                                
                            </select> 
                            <input type="hidden" name="report_name" [(ngModel)] = "model.report_name" />

                            <div style="color:red" 
                  *ngIf="report_id.errors && (report_id.dirty || report_id.touched || form.submitted)">
                  <span class="help-block" *ngIf="report_id.errors.required" style="color:red" >
                      This field is required.
                  </span>
                  </div>

                        </div>

                        <div class="row">
                          <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                              <label class="custom-control custom-checkbox"> Email
                                <input type="checkbox" class="custom-control-input" name="email" id="email" [(ngModel)]="model.email" [checked]="model.email">
                                <span class="custom-control-indicator"></span>
                            </label>
                            </div>
                            </div>

                            <div class="col-xs-6 col-sm-6 col-md-6">
                              <div class="form-group">
                                <label class="custom-control custom-checkbox"> Report
                                  <input type="checkbox" class="custom-control-input" name="report" id="report" [(ngModel)]="model.report" [checked]="model.report">
                                  <span class="custom-control-indicator"></span>
                              </label>
                              </div>
                              </div>
                            
                            </div>



                        <div class="form-group">
                          <input type="email" name="receipients" id="receipients" class="form-control input-sm" placeholder="Email Address" [(ngModel)]="model.receipients">

                     </div>   
                     
                     <div class="row">
                      <div class="col-xs-4 col-sm-4 col-md-4">
                        <div class="form-group">
                          <label class="custom-control custom-checkbox"> daily
                            <input type="checkbox" class="custom-control-input" id="daily" name="daily" [(ngModel)]="model.daily">
                            <span class="custom-control-indicator"></span>
                        </label>
                        </div>
                        <div class="form-group">
                          <select name="delay" class="form-control input-sm" [(ngModel)]="model.delay">
                            <option value="0"> Select </option>
                            <option value="1"> Now</option>
                            <option value="2"> Later</option>
                        </select> 
                        </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4"> 
                        <div class="form-group">
                        <label class="custom-control custom-checkbox"> weekly
                          <input type="checkbox" class="custom-control-input" id="weekly" name="weekly" [(ngModel)]="model.weekly">
                          <span class="custom-control-indicator"></span>
                      </label>
                      </div>
                      <div class="form-group">
                        <select name="weekdays" class="form-control input-sm" [(ngModel)]="model.weekdays">
                          <option value="1"> Sunday</option>
                          <option value="2"> Monday</option>
                          <option value="3"> Tuesday</option>
                          <option value="4"> Wednesday</option>
                          <option value="5"> Thursday</option>
                          <option value="6"> Friday</option>
                          <option value="7"> Saturday</option>
                      </select> 
                      </div>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4">
                      <div class="form-group">
                      <label class="custom-control custom-checkbox"> monthly
                        <input type="checkbox" class="custom-control-input" id="monthly" name="monthly" [(ngModel)]="model.monthly">
                        <span class="custom-control-indicator"></span>
                    </label>                    
                      </div>

                      <div class="form-group">
                        <select name="days" class="form-control input-sm" [(ngModel)]="model.days">
                          <option value="1" *ngFor='let in of counter(31) ;let i = index'> {{i+1}}</option>
                      </select> 
                      </div>

                      </div>
                     
                    </div>


                    <input type="submit" value="Register" class="btn btn-info btn-block">

                  </form>
                </div>
              </div>
              
            </li>
          </ul>

        </li>
        <li class="dropdown">
          <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
            <i class="material-icons">notifications</i>
            <!-- <span class="label-count">7</span> -->
          </a>
          <ul class="dropdown-menu">
            <li class="header">REACTIONS</li>
            <li class="body">
              <ul class="menu">
                <li *ngFor="let item of reactionLists">
                  <a href="javascript:void(0);">
                    <div *ngIf="item.reaction == 'like'" class="icon-circle bg-light-green">
                      <i class="material-icons">thumb_up</i>
                    </div>
                    <div *ngIf="item.reaction == 'unlike'" class="icon-circle bg-light-red">
                      <i class="material-icons">thumb_down</i>
                    </div>

                    <div class="menu-info">
                      <h4>{{ item.question | truncate:[25, '...'] }}
                      </h4>
                      <p>
                        <i class="material-icons">access_time</i> {{item.reacted_at}}</p>
                    </div>
                  </a>
                </li>

              </ul>
            </li>
            <li class="footer">
              <a href="javascript:void(0);">View All Notifications</a>
            </li>
          </ul>
        </li>
        <!-- #END# Notifications -->
        <!-- Tasks -->
        <!-- <li class="dropdown">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">flag</i>
                        <span class="label-count">9</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">TASKS</li>
                        <li class="body">
                            <ul class="menu tasks">
                                <li>
                                    <a href="javascript:void(0);">
                                        <h4>
                                            Footer display issue
                                            <small>32%</small>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar bg-pink" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 32%">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <h4>
                                            Make new buttons
                                            <small>45%</small>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar bg-cyan" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <h4>
                                            Create new dashboard
                                            <small>54%</small>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar bg-teal" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 54%">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <h4>
                                            Solve transition issue
                                            <small>65%</small>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 65%">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">
                                        <h4>
                                            Answer GitHub questions
                                            <small>92%</small>
                                        </h4>
                                        <div class="progress">
                                            <div class="progress-bar bg-purple" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 92%">
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="footer">
                            <a href="javascript:void(0);">View All Tasks</a>
                        </li>
                    </ul>
                </li> -->
        <!-- #END# Tasks -->
        <li class="pull-right">
          <a href="javascript:void(0);" class="js-right-sidebar" data-close="true">
            <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">more_vert</i>
            <ul class="dropdown-menu pull-right">
              <li>
                <a href="/profile">
                  <i class="material-icons">person</i>Profile</a>
              </li>
              <li>
                <a href="javascript:void(0);" (click)="logout()">
                  <i class="material-icons">input</i>Sign Out</a>
              </li>
            </ul>
          </a>
        </li>

      </ul>
    </div>
  </div>
</nav>
