/*body{background:url(../../assets/images/background.jpg)}*/
.inner_content {
  padding: 4em 4em;
}
.inner_content_w3_agile_info {
  margin-top:4.5em;
}
.inner_content_w3_agile_info.two_in {
  margin-top: 4em;
}
/*-- registration --*/
.signin-form {
/*background: #fafdfd;
  padding: 3em 2em;
  text-align: center;*/
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}
.signin-form h3 {
  font-size: 2em;
  color: #212121;
  font-weight: 700;
  margin: 1em 0;
  text-transform: uppercase;
}
.signin-form h3 span {
  color: #67e1ff;
}
.signin-form img {
  border-radius: 50%;
}
.login-form {
  margin: 1em 0 2.5em;
}
.signin-form input[type="email"],.signin-form input[type="text"], .signin-form input[type="password"] {
 width: 100%;
     padding: 0.8em 0.8em;
  font-size: 1em;
  margin: 1em 0;
  outline: none;
  color: #888;
  border: none;
  border: 1px solid #b9c0c3;
  letter-spacing: 1px;
  text-align: center;
}

.signin-form input[type="email"] {
  background: none;
  display: block;
}
.signin-form input[type="text"] {
  background: none;
  display: block;
}
.signin-form input[type="password"] {
   background: none;
  display: block;
}
::-webkit-input-placeholder{
color:#212121 !important;
}
.signin-form input[type="button"] {
  outline: none;
     padding: 0.8em 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  margin-top: 1em;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  background: #e53238;
  box-shadow: 0px 2px 1px rgba(28, 28, 29, 0.42);
  font-weight: 600;

}
.signin-form input[type="button"]:hover {

    background: #007ee5;
  transition: .5s all;
-webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
}
.signin-form p a {
  font-size: 0.9em;
  color: #10364a;
  letter-spacing: 2px;
  font-weight: 600;
}
.login-social-grids{
  margin: 1em 0;
}
.login-social-grids ul {
  padding: 0;
  margin: 0;
}
.login-social-grids ul li {
  display: inline-block;
  margin: 0 .5em 0 0;
}
.login-social-grids ul li a {
  color: #FFFFFF;
  text-align: center;
}

.login-social-grids ul li a i.fa.fa-facebook, .login-social-grids ul li a i.fa.fa-twitter, .login-social-grids ul li a i.fa.fa-rss{
  height: 30px;
  width: 30px;
  border: solid 2px #212121;
  line-height: 29px;
  background: none;
  color: #212121;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
    border-radius: 50%;
  -webkit-border-radius: 50%;
    -o-border-radius: 50%;
  -moz-border-radius: 50%;
}
.login-social-grids ul li a i.fa.fa-facebook {
border: solid 2px #3b5998;
background:#3b5998;
  color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-twitter{
border: solid 2px #55acee;
background:#55acee;
color: #FFFFFF;
}
.login-social-grids ul li a i.fa.fa-rss{
border: solid 2px #f26522;
background:#f26522;
color: #FFFFFF;
}
.login-social-grids ul li a:hover{
opacity:0.6;
}
.registration h2 {
  text-transform: uppercase;
  color: #000;
margin: 0.5em 0 1.5em 0;
  font-weight:700;
  font-size: 1.4em;
  letter-spacing: 1px;
text-align: center;
}
.pages_agile_info_w3l{
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  min-height:800px
}
.over_lay_agile_pages_w3ls {
    padding: 8em 3em 5.5em 3em;
}
.registration h6 a {
  text-transform: uppercase;
  color: #e53238;
  font-weight: 700;
  font-size: 1.1em;
  letter-spacing: 2px;

}
.registration h6 {
margin-top:1em;
}
.registration.error h6 a{
color:#fff;
}
.signin-form.profile.admin {
  background: #f9fbfd;
  padding: 2em 2em;
  box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -moz-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  -o-box-shadow: 0 0px 24px 0 rgba(0, 0, 0, 0.06), 0 1px 0px 0 rgba(0, 0, 0, 0.02);
  border: 1px solid #ddd;
}

/* body { background-image: url(../../assets/images/background.jpg);} */

/* @media (min-width: 320px) and (max-width: 414px) {
.signin-form {
    width: 300px !important;
  }
}   */
