
<!--<div class="container">
   <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <p *ngIf="lError">{{lError}}</p>
              <p *ngIf="lSuccess">{{lSuccess}}</p>
              <form id="login-form" action="#" role="form" style="display: block;">
                <h2>LOGIN</h2>
                  <div class="form-group">
                    <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="" [(ngModel)]="email" >
                    
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password" [(ngModel)]="password">
                  </div>
                  
                  <div class="col-xs-6 form-group pull-right">     
                        <input type="button" (click)="authenticate()" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
                  </div>
              </form>
             
            </div>
          </div>
        </div>
       
      </div>
    </div>
  </div>
</div>

-->

<div class="inner_content">
  <!-- /inner_content_w3_agile_info-->
<div class="inner_content_w3_agile_info">


    <div class="registration admin_agile">
      
              <div class="signin-form profile admin">
                <h2>AIANR Login</h2>
                <div class="login-form">
                  <form action="main-page.html" method="post">
                    <input type="text" name="email" id="email" tabindex="1"  placeholder="Email" value="" [(ngModel)]="email" >
                    <input type="password" name="password" id="password" tabindex="2"   placeholder="Password" [(ngModel)]="password">
                    <div class="tp">
                      <input type="button" (click)="authenticate()" name="login-submit" id="login-submit" tabindex="4" value="LOGIN">
                    </div>
                    
                  </form>
                </div>
                <div class="login-social-grids admin_w3">
                  <ul>
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  </ul>
                </div>

                 
              </div>



  </div>
<!-- //inner_content_w3_agile_info-->
</div>
<!-- //inner_content-->
</div>