<app-sidebar (messageEvent)="receivedMessage($event)"></app-sidebar>

<section class="content zoomIn">

  <div class="container">
    <div class="row">
      <div class="col-md-11">
        <div class="panel panel-default">
          <div class="panel-heading">

            <i class="material-icons">assignment</i>
            <span>Task List</span>
            <div class="pull-right">
              <button type="button" class="btn btn-sm btn-primary" (click)="createModalFunc(createForm)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> Create
              </button>
            </div>

          </div>
          <div class="panel-body">

            <table class="table table-sm table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Report Name</th>
                  <th>Report Url</th>
                  <th>Receipients</th>
                  <th>Created date</th>
                  <th>Updated date</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items; let i = index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{item._source.report_name}}</td>
                  <td>{{item._source.employeenumber}}</td>
                  <td>{{item._source.receipients}}</td>
                  <td>{{item._source.created_at}}</td>
                  <td>{{item._source.updated_at}}</td>
                  <td>
                    <span class="label label-success">Active</span>
                  </td>
                  <td>
                    <button type="button" class="btn btn-outline-success" data-toggle="modal" (click)="edit(item._source,item._id)">
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" (click)="deleteModalFunc(item._id)">
                      <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </button>

                  </td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">Child modal</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            I am a child modal, opened from parent component!
          </div>
        </div>
      </div>
    </div> -->
</section>




<div bsModal #createModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">


      <form (ngSubmit)="create(createForm)" #createForm="ngForm" novalidate>

        <div class="modal-header">
          <h4 class="modal-title">Create </h4>
          <button type="button" class="close" (click)="createModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="card-body">
            <div class="form-group">

              <select name="report_id" class="form-control input-sm" [(ngModel)]="model.report_id" #report_id="ngModel" (change)="changeReport($event)"
                required>
                <option value=""> Select Option </option>
                <option *ngFor="let row of reportLists" [ngValue]="row.id">
                  {{row.name}}
                </option>

              </select>
              <input type="hidden" name="report_name" [(ngModel)]="model.report_name" />

              <div style="color:red" *ngIf="report_id.errors && (report_id.dirty || report_id.touched || createForm.submitted)">
                <span class="help-block" *ngIf="report_id.errors.required" style="color:red">
                  This field is required.
                </span>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> Email
                    <input type="checkbox" class="custom-control-input" name="email" id="email" [(ngModel)]="model.email" [checked]="model.email">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> Report
                    <input type="checkbox" class="custom-control-input" name="report" id="report" [(ngModel)]="model.report" [checked]="model.report">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
              </div>

            </div>



            <div class="form-group">
              <input type="email" name="receipients" id="receipients" class="form-control input-sm" placeholder="Email Address" [(ngModel)]="model.receipients">

            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> daily
                    <input type="checkbox" class="custom-control-input" id="daily" name="daily" [(ngModel)]="model.daily" >
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="form-group" *ngIf="model.daily" >
                  <select name="delay" class="form-control input-sm" [(ngModel)]="model.delay">
                    <option value="0"> Select </option>
                    <option value="1"> Now</option>
                    <option value="2"> Later</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> weekly
                    <input type="checkbox" class="custom-control-input" id="weekly" name="weekly" [(ngModel)]="model.weekly">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="form-group" *ngIf="model.weekly">
                  <select name="weekdays" class="form-control input-sm" [(ngModel)]="model.weekdays">
                    <option value="1"> Sunday</option>
                    <option value="2"> Monday</option>
                    <option value="3"> Tuesday</option>
                    <option value="4"> Wednesday</option>
                    <option value="5"> Thursday</option>
                    <option value="6"> Friday</option>
                    <option value="7"> Saturday</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> monthly
                    <input type="checkbox" class="custom-control-input" id="monthly" name="monthly" [(ngModel)]="model.monthly">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>

                <div class="form-group" *ngIf="model.monthly">
                  <select name="days" class="form-control input-sm" [(ngModel)]="model.days">
                    <option value="1" *ngFor='let in of counter(31) ;let i = index'> {{i+1}}</option>
                  </select>
                </div>

              </div>

            </div>

          </div>
          <!--/.row-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="createModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary">Save </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->



<div bsModal #editModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">


      <form (ngSubmit)="update(updateForm)" #updateForm="ngForm" novalidate>

        <div class="modal-header">
          <h4 class="modal-title">Update Task </h4>
          <button type="button" class="close" (click)="editModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="card-body">
            <div class="form-group">

              <select name="report_id" class="form-control input-sm" [(ngModel)]="model.report_id" #report_id="ngModel" (change)="changeReport($event)"
                required>
                <option value=""> Select Option </option>
                <option *ngFor="let row of reportLists" [ngValue]="row.id">
                  {{row.name}}
                </option>

              </select>
              <input type="hidden" name="report_name" [(ngModel)]="model.report_name" />
              <input type="hidden" name="id" [(ngModel)]="model.id" />

              <div style="color:red" *ngIf="report_id.errors && (report_id.dirty || report_id.touched || updateForm.submitted)">
                <span class="help-block" *ngIf="report_id.errors.required" style="color:red">
                  This field is required.
                </span>
              </div>

            </div>

            <div class="row">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> Email
                    <input type="checkbox" class="custom-control-input" name="email" id="email" [(ngModel)]="model.email" [checked]="model.email">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
              </div>

              <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> Report
                    <input type="checkbox" class="custom-control-input" name="report" id="report" [(ngModel)]="model.report" [checked]="model.report">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
              </div>

            </div>



            <div class="form-group">
              <input type="email" name="receipients" id="receipients" class="form-control input-sm" placeholder="Email Address" [(ngModel)]="model.receipients">

            </div>

            <div class="row">
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> daily
                    <input type="checkbox" class="custom-control-input" id="daily" name="daily" [(ngModel)]="model.daily">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="form-group">
                  <select name="delay" class="form-control input-sm" [(ngModel)]="model.delay">
                    <option value="0"> Select </option>
                    <option value="1"> Now</option>
                    <option value="2"> Later</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> weekly
                    <input type="checkbox" class="custom-control-input" id="weekly" name="weekly" [(ngModel)]="model.weekly">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>
                <div class="form-group">
                  <select name="weekdays" class="form-control input-sm" [(ngModel)]="model.weekdays">
                    <option value="1"> Sunday</option>
                    <option value="2"> Monday</option>
                    <option value="3"> Tuesday</option>
                    <option value="4"> Wednesday</option>
                    <option value="5"> Thursday</option>
                    <option value="6"> Friday</option>
                    <option value="7"> Saturday</option>
                  </select>
                </div>
              </div>
              <div class="col-xs-4 col-sm-4 col-md-4">
                <div class="form-group">
                  <label class="custom-control custom-checkbox"> monthly
                    <input type="checkbox" class="custom-control-input" id="monthly" name="monthly" [(ngModel)]="model.monthly">
                    <span class="custom-control-indicator"></span>
                  </label>
                </div>

                <div class="form-group">
                  <select name="days" class="form-control input-sm" [(ngModel)]="model.days">
                    <option value="1" *ngFor='let in of counter(31) ;let i = index'> {{i+1}}</option>
                  </select>
                </div>

              </div>

            </div>

          </div>
          <!--/.row-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="editModal.hide()">Close</button>
          <button type="submit" class="btn btn-primary">Save </button>
        </div>
      </form>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


<div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Are you sure want to delete!</h4>
          <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure want to delete this record! &hellip;</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="deleteModal.hide()">Close</button>
          <button type="button" class="btn btn-danger" (click)="delete()">Delete</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->