<aside id="leftsidebar" class="sidebar">
    <!-- User Info -->
    <div class="user-info">
      <div class="image">
        <img src="../../assets/images/user.png" width="48" height="48" alt="User" />
      </div>
      <div class="info-container">
        <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{_globalSettings.username}}</div>
        <div class="email">{{_globalSettings.email}}</div>
       
      </div>
    </div>
  
  
    <div class="row">
      <div class="col-md-12">
        <div class="scroll_container">
          <ul class="nav nav-stacked back_sidebar scroll_link" id="accordion1">
  
            <li>
              <a routerLinkActive="active" [routerLink]="['/dashboard']">
                <i class="fa fa-home"></i>Dashboard</a>
            </li>
  
            <li class="panel" *ngFor="let item of menu let i=index">
              <a data-toggle="collapse" data-parent="#accordion1" href="#{{item.link}}">
                <i class="fa fa-briefcase"></i>{{item.name}}</a>
              <ul id="{{item.link}}" class="collapse" >
                <li *ngFor="let data of item.categoryList" (click)="sendMessage(data.questions)">
                  <a href="javascript:void(0);">{{data.questions}}</a>
                </li>
              </ul>
  
            </li>
            <li>
              <a routerLinkActive="about" [routerLink]="['/about']">
                <i class="fa fa-file-text"></i>About</a>
            </li>
          </ul>
        </div>
        <div class="top_bottom_mask" style="left:413px; top:10px;">
          <div class="corner_top_mask"></div>
        </div>
        <div class="left_right_mask" style="left:413px; top:11px; height:418px;"></div>
        <div class="left_right_mask" style="left:428px; top:10px; height:418px;"></div>
        <div class="top_bottom_mask" style="left:413px; top:420px;">
          <div class="corner_bottom_mask"></div>
        </div>
      </div>
    </div>