.sidebar {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-family: "Roboto", sans-serif;
  background: #fdfdfd;
  width: 300px;
  overflow: hidden;
  display: inline-block;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  left: 0;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 11 !important;
 }
.sidebar .menu {
    position: relative;
    overflow-y: auto;
    height: 90vh;
    background: #2d323e;
    color: #fff;
}
.sidebar .menu .list a {
    color: #fff;
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: 100%;
    padding: 10px 13px;
}
.sidebar .menu .list a span {
    margin: 7px 0 7px 12px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    overflow: hidden;
}
.nav-side-menu {
  overflow-y: scroll;
  overflow-x: hidden;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    position: fixed;
    top: 200px;
    width: 300px;
    min-height: 540px;
    max-height: 540px;
    background-size: 100%;
    background: linear-gradient(to right, rgba(27, 48, 101,0.8) 0%, rgba(43, 76, 130,0.85) 100%),url(../../assets/images/side_img.jpg) no-repeat;
    /* background: rgba(27, 48, 101, 1), url("side_img.jpg"); */
    /* background-image:url("assets/images/side_img.jpg"); */
    
    
  }
  /* Let's get this party started */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8); 
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(255,0,0,0.4); 
}
  /* .layer {
    background-color: rgba(27, 48, 101, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
  .nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 45px;
    cursor: pointer;
    color: #d9ecfd;
    /*    
      .collapsed{
         .arrow:before{
                   font-family: FontAwesome;
                   content: "\f053";
                   display: inline-block;
                   padding-left:10px;
                   padding-right: 10px;
                   vertical-align: middle;
                   float:right;
              }
       }
  */
  }
  .nav-side-menu ul :not(collapsed) .arrow:before,
  .nav-side-menu li :not(collapsed) .arrow:before {
    font-family: FontAwesome;
    content: "\f078";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
    float: right;
   
  }
  .nav-side-menu ul .active,
  .nav-side-menu li .active {
    border-left: 3px solid #ffffff;
    font-size: 12px;
    font-weight: 600;
    color: #333
    /* padding: 8px 16px; */
   
  }
  .nav-side-menu ul .sub-menu li.active,
  .nav-side-menu li .sub-menu li.active {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li.active a,
  .nav-side-menu li .sub-menu li.active a {
    color: #d19b3d;
  }
  .nav-side-menu ul .sub-menu li,
  .nav-side-menu li .sub-menu li {
    background-color: #183168;
    border: none;
    line-height: 18px;
    border-bottom: 1px solid #727272; 
    margin-left: 0px;
    padding: 10px;
  }
  .nav-side-menu ul .sub-menu li:hover,
  .nav-side-menu li .sub-menu li:hover {
    background-color: #2f4d91;
  }
  .nav-side-menu ul .sub-menu li:before,
  .nav-side-menu li .sub-menu li:before {
    font-family: FontAwesome;
    content: "\f105";
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    vertical-align: middle;
  }
  .nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
   /* border-bottom: 1px solid #23282e;*/
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
  }
  .nav-side-menu li a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
    margin: 7px 0 7px 12px;
    color: #fff;
  }
  .nav-side-menu li:hover {
    border-left: 3px solid #fff;
    background-color: #183168;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    color: #23282e;
  }
  /*-------------
  MENU
  -------------*/
  .sidebar .menu .list .header {
    background: #eee;
    font-size: 12px;
    font-weight: 600;
    padding: 8px 16px;
}
/*----------*/

  @media (max-width: 767px) {
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
    .brand {
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }
  }
  @media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
  @import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);
  
  * {
    box-sizing:border-box;
  }
  
  html, body {
    background: #222;
    font-family: 'Lato', sans-serif;
  }
  
  .menu {
    width: 330px;
    height: 550px;
    box-shadow: 0px 10px 50px rgba(0,0,0,.6);
    overflow: hidden;
    color: rgba(255, 255, 255, .9);
    font-weight: 200;
    position: relative;
    /* margin: 60px auto; */
    z-index: 1;
  }
  .menu:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: url(../../assets/images/artificial_intelligence.jpg);
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    filter: blur(4px);
  }
  .search {
    height: 50px;
    background: rgba(255,255,255,.06);
    padding: 18px;
    font-size: 14px;
  }
  .search:focus {
    outline: none;
  } 
  .search:empty:not(:focus):before{
    content:attr(data-ph);
    font-size: 12px;
    font-weight: 300;
    margin: 10px;
  }
  .info {
    height: 100px;
    background: rgba(255,255,255,.06);
    border-top: 3px solid rgba(0, 0, 0, .1);
  }
  .stats {
    float: left;
    height: 100%;
    width: 33.33%;
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    padding: 25px;
  }
  .stats span {
    display: block;
    padding: 2px;
    font-size: 12px;
    font-weight: 200;
  }
  .menu ul {
    height: 400px;
    margin: 0;
    padding: 0;
  }
  .menu ul:hover {
    cursor: pointer;
  }
  .menu ul li {
    display: block;
    height: 50px;
    background: #fff;
    background: rgba(0,0,0,.2);
    border-top: 3px solid rgba(0, 0, 0, .2);
    line-height: 50px;
    padding-left: 20px;
    position: relative;
    overflow: hidden;
    transition: all 0.2s ease;
  }
  .menu ul li:hover {
    background: rgba(255,255,255,.05);
  }
  .menu ul li i {
    margin-right: 16px;
  }
  .menu ul li .notification {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 20px;
    line-height: 17px;
    text-align: center;
    background: #FF4136;
    border-radius: 50%;
    font-size: 8px;
    font-weight: 700;
    position: absolute;
    top: -6px; left: 76px;
  }
  .menu ul li a{color: #ffffff;
    text-decoration: none; }
  .menu ul li a:hover{color: #ffe001;
  text-decoration: none; }
  .menu ul li a ul li{color: #ffffff;
    text-decoration: none;  background-color: transparent;}
  
  /*  Ripple */
  
  .ripple {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.4);
    transform: scale(0);
    position: absolute;
    opacity: 1;
  }
  
  .rippleEffect {
    animation: rippleDrop .6s linear;
  }
  
  @keyframes rippleDrop {
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }

  /* new menu */

  
  ul, ol {
  list-style: none;
}
#accordion1 li.panel{
    margin-bottom: 0px;
}

.back_sidebar{
  background: linear-gradient(to bottom, rgba(30, 87, 153,0.95) 0%,rgba(30, 87, 153,0.95) 100%), url(../../assets/images/artificial_intelligence.jpg);
}
.back_sidebar li a {
  color:#fff;
}
.back_sidebar li a i{
  margin-right: 10px;  
}
.back_sidebar li ul li  {
  color:#fff;
}
.panel{
  background: transparent;
}
.nav > li > a {
  border-top: 3px solid rgba(0, 0, 0, .2);
}
