<app-sidebar ></app-sidebar>

<section class="content zoomIn">
  <div class="container">
      <div class="row">
          <div class="col-md-11">
              <div class="panel panel-default">
                  <div class="panel-heading">
                      <span ><i class="fa fa-heart favt_icon" aria-hidden="true"></i> Profile </span>
                     
                     
                  </div>
                  <div class="panel-body" >

                         
<div class="twPc-div">
  <a class="twPc-bg twPc-block"></a>

<div>
 
  <a title="Mert Salih Kaplan" href="https://twitter.com/mertskaplan" class="twPc-avatarLink">
    <img alt="Mert Salih Kaplan" src="../../assets/images/user.png" class="twPc-avatarImg">
  </a>

  <div class="twPc-divUser">
    <div class="twPc-divName">
      <a href="https://twitter.com/mertskaplan">{{_globalSettings.username}}</a>
    </div>
    <span>
      <a href="https://twitter.com/mertskaplan">{{_globalSettings.employeeNumber}}</a>
    </span>
  </div>

  <div class="twPc-divStats">
    <ul class="twPc-Arrange">
      <li class="twPc-ArrangeSizeFit">
        <a href="https://twitter.com/mertskaplan" title="9.840 Tweet">
          <span class="twPc-StatLabel twPc-block">Favourites</span>
          <span class="twPc-StatValue">{{reactionCount}}</span>
        </a>
      </li>
      <li class="twPc-ArrangeSizeFit">
        <a href="https://twitter.com/mertskaplan/following" title="885 Following">
          <span class="twPc-StatLabel twPc-block">Reactions</span>
          <span class="twPc-StatValue">{{favouriteCount}}</span>
        </a>
      </li>
      <!-- <li class="twPc-ArrangeSizeFit">
        <a href="https://twitter.com/mertskaplan/followers" title="1.810 Followers">
          <span class="twPc-StatLabel twPc-block">Followers</span>
          <span class="twPc-StatValue">1.810</span>
        </a>
      </li> -->
    </ul>
  </div>
</div>
</div>
                      
                  </div>                    
              </div>
          </div>
      </div>
  </div>

</section>

