<app-sidebar ></app-sidebar>
<section class="content zoomIn">
  
<div class="container clearfix">
	<div class="row">
		<div class="col-md-4">
			<div class="dash-box dash-box-color-1">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-cloud"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">25</span>
					<span class="dash-box-title">Favourites</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-2">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-download"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">100</span>
					<span class="dash-box-title">Reactions</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
		<div class="col-md-4">
			<div class="dash-box dash-box-color-3">
				<div class="dash-box-icon">
					<i class="glyphicon glyphicon-heart"></i>
				</div>
				<div class="dash-box-body">
					<span class="dash-box-count">250</span>
					<span class="dash-box-title">Reactions</span>
				</div>
				
				<div class="dash-box-action">
					<button>More Info</button>
				</div>				
			</div>
		</div>
	</div>
</div>

</section>

