<app-sidebar (messageEvent)="receivedMessage($event)"></app-sidebar>

<section class="content zoomIn">
    <div class="container">
        <div class="row">
            <div class="col-md-11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <span ><i class="fa fa-heart favt_icon" aria-hidden="true"></i> Favourites</span>
                       
                       
                    </div>
                    <div class="panel-body" >

                            <ul class="chat">
                             <li *ngFor="let item of favouriteLists" class="left clearfix"  ><i class="fa fa-heart favt_icon" aria-hidden="true"></i> {{item.question}}
                                    </li>
                             
                                  </ul>
                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>

  </section>

